#
#Tue Jul 05 23:35:09 CEST 2011
db.protocol=jdbc\:mysql
db.host=localhost
db.name=jstudio
language=en
window.height=500
db.driver=com.mysql.jdbc.Driver
db.user=jstudio
db.password=jstudio137
window.width=640
