#
#Tue Jul 24 23:09:43 CEST 2012
report.agenda=/reports/day.jasper
db.password=jstudio137
invoice.stamp.threshold=77.48
print.path.last=.
print.path=E\:\\Libraries\\Documents\\workspace\\JStudio\\temp
db.user=jstudio
db.name=jstudio
window.width=640
prune.days=-2
db.driver=org.sqlite.JDBC
db.protocol=jdbc\:sqlite
backup.file=E\:\\Libraries\\Documents\\workspace\\JStudio\\temp\\jstudio_201206072133.bak
window.height=500
load.file=C\:\\Documents and Settings\\Matteo\\Documenti\\workspace\\jstudio\\test.db.old
language=it
report.invoice=/reports/invoice.jasper
db.jdbc=jstudio.db.SqlDB
panel.width.min=400
db.host=test.db
invoice.stamp.value=1.81
