#
#Mon Jul 01 00:39:07 CEST 2013
report.agenda=/reports/day.jasper
db.password=jstudio137
invoice.stamp.threshold=77.48
reports.suffix=.jasper
print.path.last=.
print.path=E\:\\Rogue\\Documents\\workspace\\JStudio\\temp
print.sys=false
db.user=jstudio
db.name=jstudio
window.width=640
prune.days=-2
db.driver=org.sqlite.JDBC
db.protocol=jdbc\:sqlite
backup.file=E\:\\Rogue\\Documents\\workspace\\JStudio\\temp\\jstudio_201301081144.bak
window.height=500
load.file=C\:\\Documents and Settings\\Matteo\\Documenti\\workspace\\jstudio\\test.db.old
print.xls=false
language=it
report.invoice=/reports/invoice.jasper
print.pdf=true
db.jdbc=jstudio.db.SqlDB
reports.path=reports
panel.width.min=400
print.doc=false
db.host=test.db
invoice.stamp.value=2.00
